.container
{
    background-color: #111;
    padding: 10vh 7vh;
}

.box
{
    display: flex;
    justify-content: center;
    position: relative;
}

.text_box
{   
    display: flex;
    align-self: flex-end;
    color: white;
    font-size: 6vh;
    position: absolute;
    font-weight: 300;
    text-align: right;
    z-index: 1;
}


.img
{
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    filter: saturate(0%) contrast(70%);
    z-index: 0;
}